.profile {
	display: flex;
	column-gap: 60px;
}

.tabs {
	margin-bottom: 15px;
}

.main {
	width: 100%;
}

.search {
	display: flex;
	column-gap: 10px;
	margin-bottom: 20px;
}

.select {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	column-gap: 10px;
}
