.profile {
	display: flex;
	column-gap: 60px;
	flex-direction: column;
	align-items: center;

	@media (min-width: 992px) {
		flex-direction: row;
		align-items: flex-start;
	}
}

.tabs {
	margin-bottom: 15px;
}

.main {
	width: 100%;
}
