.comment {
	display: flex;
	align-items: flex-start;
}

.likes {
	max-width: min-content;
	display: flex;
	align-items: center;
	column-gap: 5px;
	cursor: pointer;
}

.settings {
	display: flex;
	flex-direction: column;

	@media (min-width: 576px) {
		flex-direction: row;
	}
}
