.comment {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.likes {
	max-width: min-content;
	display: flex;
	align-items: center;
	column-gap: 5px;
	cursor: pointer;
	margin-left: 55px;
}

.text {
	margin: 5px 0 5px 55px;
}

.settings {
	display: flex;
	flex-direction: column;

	@media (min-width: 576px) {
		flex-direction: row;
	}
}
